<a href="https://colab.research.google.com/github/mishaisran/DATA-690-WANG/blob/master/Assignment5/Assignment5_hwk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise**

The task involves exploring data from College Scorecard

In [ ]:
#Mounting data file from local Google Drive
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
#Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset:
import io
import pandas as pd
from google.colab import files
df = files.upload()

Saving MERGED2017_18_PP.csv to MERGED2017_18_PP (1).csv

KeyboardInterrupt: ignored

In [ ]:
#Reading and opening the file as "df"
df = pd.read_csv("/content/MERGED2017_18_PP.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#Looking at how many colleges(rows) and how many variables(columns)? 
df.shape

#There are 7112 colleges and 1986 variables in the dataset

(7112, 1986)

In [ ]:
#Looking at the first 20 colleges
df.head(20)

    UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0   100654   100200  ...                       NaN            NaN
1   100663   105200  ...                       NaN            NaN
2   100690  2503400  ...                       NaN            NaN
3   100706   105500  ...                       NaN            NaN
4   100724   100500  ...                       NaN            NaN
5   100751   105100  ...                       NaN            NaN
6   100760   100700  ...                       NaN            NaN
7   100812   100800  ...                       NaN            NaN
8   100830   831000  ...                       NaN            NaN
9   100858   100900  ...                       NaN            NaN
10  100937   101200  ...                       NaN            NaN
11  101028  1218200  ...                       NaN            NaN
12  101073  1055400  ...                       NaN            NaN
13  101116  1303906  ...                       NaN            NaN
14  101143   101500  ...                       NaN            NaN
15  101161   106000  ...                       NaN            NaN
16  101189   100300  ...                       NaN            NaN
17  101240   101700  ...                       NaN            NaN
18  101277  4187200  ...                       NaN            NaN
19  101286   101800  ...                       NaN            NaN

[20 rows x 1986 columns]

In [ ]:
#Looking at the last 20 colleges
df.tail(20)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7092  47503311  4208611  ...                       NaN            NaN
7093  47503312  4208612  ...                       NaN            NaN
7094  47503313  4208613  ...                       NaN            NaN
7095  47647001  4088301  ...                       NaN            NaN
7096  47662901  4189101  ...                       NaN            NaN
7097  47691101  4205801  ...                       NaN            NaN
7098  48065701   869423  ...                       NaN            NaN
7099  48079001  4218901  ...                       NaN            NaN
7100  48092101  4220001  ...                       NaN            NaN
7101  48133101  4213501  ...                       NaN            NaN
7102  48154401  4220901  ...                       NaN            NaN
7103  48305401  4224601  ...                       NaN            NaN
7104  48312401   108131  ...                       NaN            NaN
7105  48312402   108161  ...                       NaN            NaN
7106  48312403   108162  ...                       NaN            NaN
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[20 rows x 1986 columns]

In [ ]:
#Looking at a random sample of 20 colleges
df.sample(n = 20)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
77      104151   108100  ...                       NaN            NaN
2130    186380   262900  ...                       NaN            NaN
5931    469629  3367402  ...                       NaN            NaN
6824  17320301   233919  ...                       NaN            NaN
5884    462035  4188300  ...                       NaN            NaN
4199    369950  2529500  ...                       NaN            NaN
2481    198084  2170700  ...                       NaN            NaN
3073    214379   719100  ...                       NaN            NaN
177     107992   773800  ...                       NaN            NaN
4783    436429  4037300  ...                       NaN            NaN
3754    236133   378300  ...                       NaN            NaN
1017    147411   172800  ...                       NaN            NaN
3285    219374  2143700  ...                       NaN            NaN
198     109819   111800  ...                       NaN            NaN
416     120795   125600  ...                       NaN            NaN
2841    207315  1128200  ...                       NaN            NaN
1564    166452   216000  ...                       NaN            NaN
68      103778   108160  ...                       NaN            NaN
4568    418524  2306200  ...                       NaN            NaN
3831    238263   400700  ...                       NaN            NaN

[20 rows x 1986 columns]

In [19]:
#Creating a smaller dataset by selecting these 9 variables that are relevant to the analysis
df1 = df[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']]
df1.head()

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN

[5 rows x 9 columns]

In [22]:
#Documenting the definition of these variables in the notebook
Dictionary={'UNITID':'Unit ID for institution','INSTNM':'Institution name','CITY':'City','STABBR':'State Postcode'
           ,'ZIP':'ZIP code','ADM_RATE':'Admission rate',
            'UGDS':'Enrollment of undergraduate certificate/degree-seeking students',
            'TUITIONFEE_IN':'In-state tuition and fees','MN_EARN_WNE_P10':
            'Mean earnings of students working and not enrolled 10 years after entry'}

In [23]:
Dictionary

{'ADM_RATE': 'Admission rate',
 'CITY': 'City',
 'INSTNM': 'Institution name',
 'MN_EARN_WNE_P10': 'Mean earnings of students working and not enrolled 10 years after entry',
 'STABBR': 'State Postcode',
 'TUITIONFEE_IN': 'In-state tuition and fees',
 'UGDS': 'Enrollment of undergraduate certificate/degree-seeking students',
 'UNITID': 'Unit ID for institution',
 'ZIP': 'ZIP code'}

In [24]:
#Exploring the smaller dataset
# 1. Looking at the first 10 colleges
df1.head(10)

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

In [25]:
# 1. Looking at the last 10 colleges
df1.tail(10)

        UNITID  ... MN_EARN_WNE_P10
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[10 rows x 9 columns]

In [26]:
#Looking at a random sample of 20 colleges
df1.sample(n = 10)

      UNITID                            INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
2991  212230      Empire Beauty School-Lebanon  ...           NaN             NaN
5354  451051   Academy of Massage and Bodywork  ...           NaN             NaN
1519  164720                    Becker College  ...       38250.0             NaN
1828  175573  Copiah-Lincoln Community College  ...        3180.0             NaN
754   137078             St Petersburg College  ...        3352.0             NaN
451   122454       San Francisco Art Institute  ...       44778.0             NaN
929   144014      Chicago Theological Seminary  ...           NaN             NaN
1269  155520    MidAmerica Nazarene University  ...       29670.0             NaN
3622  231086          Southern Vermont College  ...       24775.0             NaN
1444  161572                     Unity College  ...       28350.0             NaN

[10 rows x 9 columns]

In [28]:
#Finding and displaying UMBC
df1[df1['INSTNM'].str.contains('Baltimore County')]

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN
4762  434672  ...             NaN

[2 rows x 9 columns]

In [29]:
#Finding and displaying University of Maryland College Park
df1[df1['INSTNM'].str.contains('College Park')]

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

In [32]:
#Finding and displaying universities that contain "Loyola" since there are multiple campuses
df1[df1['INSTNM'].str.contains('Loyola')]

      UNITID                         INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
366   117946    Loyola Marymount University  ...       46386.0             NaN
1000  146719      Loyola University Chicago  ...       43078.0             NaN
1385  159656  Loyola University New Orleans  ...       39492.0             NaN
1475  163046     Loyola University Maryland  ...       47560.0             NaN

[4 rows x 9 columns]

In [37]:
#Finding and displaying the specific loyola campus we are looking for
df1[df1['INSTNM'].str.contains('Loyola University Maryland')]

      UNITID                      INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1475  163046  Loyola University Maryland  ...       47560.0             NaN

[1 rows x 9 columns]

In [38]:
#Finding and displaying Johns Hopkins University
df1[df1['INSTNM'].str.contains('Johns Hopkins University')]

      UNITID                    INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1473  162928  Johns Hopkins University  ...       52170.0             NaN

[1 rows x 9 columns]

In [41]:
college_search = ['University of Maryland-Baltimore County','University of Maryland-College Park','Loyola University Maryland',
  'Johns Hopkins University']

four_md_colleges = df1.loc[df1['INSTNM'].isin(college_search)]
four_md_colleges

      UNITID  ... MN_EARN_WNE_P10
1473  162928  ...             NaN
1475  163046  ...             NaN
1478  163268  ...             NaN
1479  163286  ...             NaN

[4 rows x 9 columns]

In [40]:
four_md_colleges['TUITIONFEE_IN'].describe()

count        4.000000
mean     30411.750000
std      22546.011271
min      10399.000000
25%      11238.250000
50%      29539.000000
75%      48712.500000
max      52170.000000
Name: TUITIONFEE_IN, dtype: float64

In [43]:
#Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. 
#Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. 
state_search = ['MD', 'VA', 'DE', 'PA', 'DC']

Five_States_Colleges = df1.loc[df1['STABBR'].isin(state_search)]
Five_States_Colleges

        UNITID  ... MN_EARN_WNE_P10
634     130837  ...             NaN
635     130873  ...             NaN
636     130907  ...             NaN
637     130934  ...             NaN
638     130943  ...             NaN
...        ...  ...             ...
7063  45794301  ...             NaN
7084  47503303  ...             NaN
7089  47503308  ...             NaN
7094  47503313  ...             NaN
7103  48305401  ...             NaN

[690 rows x 9 columns]

In [44]:
##Saving the filtered dataset to a new file named "Five_States_Colleges.csv" in local drive for future analysis. 
df.to_csv(r'/content/Five_States_Colleges.csv')